@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@1&family=Nunito+Sans:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hamburguer{
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer{
    right: 16rem;
}

.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);
}
.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.45rem);;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.banner{
    position: absolute;
    top: 10%;
    left: 15%;
}

.banner h1{
    color: #ffffff;
    font-size: 3.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
}

.banner p{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.5rem;
    text-shadow: .2rem .2rem 2px rgba(0, 0, 0, .4);
    margin-bottom: 2rem;
}

.banner button{
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', 'sans-serif';
    color: black;
    text-transform: uppercase;
    background: #B2FEFA;
    background: -webkit-linear-gradient(to left, #0ED2F7, #B2FEFA);
    background: linear-gradient(to left, #0ED2F7, #B2FEFA);
    letter-spacing: .1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border: none;
    user-select: none;
    cursor: pointer;
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 1s;
}

.show-menu .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;    
    margin-bottom: .5rem;
}

.menu-link{
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;
}

.menu-link:hover{
    color: #6a3093;
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background-color: #6a3093;
    color:rgba(255,255,255,1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover{
    background-color: #a044ff;
}